<%- include("layout/header") %>
        <header>
        <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        </nav>
        </header>

    <main>
       <h2> Tumon </h2>
       <p> From BD </p>
    </main>

    <footer>
        All rights reserved by &copy; Tumon
    </footer>
