<%- include("layout/header") %>
    <main>
        <form action="/" method="post">
            <input type="text" name="plang" placeholder="Programming Lang">
            <button type="submit">Add</button>
        </form>

        <ul>
            <% if(pl.length > 0) { %>
                <% for(let i=0; i < pl.length; i++){ %>
                    <li> <%=pl[i] %> </li>
                <% }%>
            <% }else{%>
                <p> No Data Found</p>
            <% } %>
        </ul>
    </main>

    <footer>z
        All rights reserved by &copy; Tumon
    </footer>

